.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    text-align: center;
}

.login-card {
    /* background-color: bisque; */
    border: 1px solid #ccc;
    width: 22rem;
    height: 22rem;
    padding: 3rem;
    padding-top: 2rem;
    /* margin-left: 1rem; */

    font-size: 0.75rem;
}

.login-bottom-card {
    width: 22rem;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-top: 1rem;
    color: black;

    font-size: 0.9rem;
}

.iphone-image {
    background-image: url(../../assets/iPhone.png);
    background-size: 26rem 37rem;
    width: 25.5rem;
    height: 37rem;
    margin-right: 1rem;
}

.carousel {
    position: absolute;
    top: 15px;
    padding-left: 62px;
    padding-right: 13px;
}

@media screen and (max-width: 768px) {
    .iphone-image {
        display: none;
    }
}

/* LOADING Page CSS */

.loading-page {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    
}
.insta-logo{
    margin-top: 46vh;
}
.meta-logo {    
    font-size: small;
    text-align: center;
    color: #8b8b8b;
    margin-bottom: 1.5rem;
}
