.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    text-align: center;
}

.login-card {
    /* background-color: bisque; */
    border: 1px solid #ccc;
    width: 22rem;
    height: 22rem;
    padding: 3rem;
    padding-top: 2rem;
    /* margin-left: 1rem; */

    font-size: 0.75rem;
}

.login-bottom-card {
    width: 22rem;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-top: 1rem;
    color: black;

    font-size: 0.9rem;
}

.iphone-image {
    background-image: url(../../assets/iPhone.png);
    background-size: 25rem 38rem;
    width: 25rem;
    height: 38rem;
    margin-right: 1rem;
}
