.feed-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-bar {
    /* background-color: bisque; */
    height: 100vh;
    width: 15.6rem;
    border-right: 1px solid #ccc;
}

.feed {
    /* background-color: royalblue; */
    width: calc(100% - 15.6rem);

    height: 100vh;

    padding-top: 2rem;
    padding-left: 27vw;

    overflow-y: scroll;
}
.feed::-webkit-scrollbar {
    display: none;
}

.post-container {
    /* background-color: greenyellow; */
    /* width: 28rem; */
    /* height: 42rem; */
    height: 738px;
    width: 30rem;
    border-radius: 10px;

    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-container > video {
    height: 100%;
    width: 415px;
    object-fit: contain;
    background-color: lightcoral;
    border-radius: 10px;
}

.option-menu {
    height: inherit;
    width: inherit;
    /* background-color: blueviolet; */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    
}
.option-menu > * {
    margin-top: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.more-btn {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

@media screen and (max-width: 1230px) {
    .side-bar {
        width: 5rem;
    }
    .side-bar-base {
        width: 1px;
    }
    .feed {
        width: calc(100% - 10rem);
    }
}
