.forgot-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.insta-navbar {
    border-bottom: 1px solid #ccc;
    height: 4rem;
    width: 100vw;
}
.forgot-container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    text-align: center;
}

.forgot-card {
    /* background-color: bisque; */
    border: 1px solid #ccc;
    width: 24rem;
    height: 31rem;
    padding: 3rem;
    padding-top: 2rem;
    /* margin-left: 1rem; */

    font-size: 0.75rem;
}
.lock-icon > * {
    font-size: 5rem;
}
/* .circle{
    position: absolute;
    z-index: 1;
    top: 1rem;


} */

.forgot-bottom-card {
    background-color: rgb(250, 250, 250);
    width: 24rem;
    border: 1px solid #ccc;
    padding: 1rem;
    /* margin-top: 1rem; */
    /* color: black; */
    border-top: none;

    /* font-size: 0.9rem; */
}

.divider {
    /* background-color: aqua; */
    width: 18rem;
    height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    color: #ccc;
    margin-bottom: 1rem;
}

.line {
    background-color: #ccc;
    width: 7rem;
    height: 1.5px;
}

.link-text {
    color: black;
    font-weight: bold;
    font-size: 0.85rem;
    /* padding: 1rem; */
}
