html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: black;
        background: white;
    }
}

/* FOOTER */
.footer {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60rem;
    flex-wrap: wrap;
    font-size: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: grey;
}
.footer > * {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.underline:hover {
    text-decoration: underline;
}

@media screen and (max-width: 930px) {
    .footer {
        width: 40rem;
    }
}
@media screen and (max-width: 630px){
    .footer{
        width: 30rem;
    }
}
@media screen and (max-width: 490px) {
    .footer {
        width: 20rem;
    }
}
